/* Custom styles for the modals */
.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
  }
  
.modal-dialog {
  margin: auto;
}
  
.modal-content {
  height: auto; /* Allow the content to size based on the image */
  display: flex; /* Use flexbox for centering */
  justify-content: center; /* Align items horizontally */
}
  
.modal-body {
  padding: 1rem; /* Add some padding around the image */
}

#modalImg {
  max-height: 90vh; /* Limit the image height to 90% of the viewport height */
  max-width: 100%; /* Limit the image width to 100% of its container */
  object-fit: contain; /* Make sure the image is scaled correctly */
}

#mainNav {
  display: flex;
  flex-direction: row;
  margin-left: 1rem;
}

.close {
  cursor: pointer;
}

.img-fluid {
  max-width: 100%;
  height: auto;
}
  
.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.listed-radio:checked + .listed-label {
  background-color: #28a745;
  color: white;
  padding: 5px;
  border-radius: 4px;
}

.not-listed-radio:checked + .not-listed-label {
  background-color: #dc3545;
  color: white;
  padding: 5px;
  border-radius: 4px;
}

/* Hide the radio button but keep it functional */
.form-check-input {
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
}

/* Style the labels */
.form-check-label {
  display: inline-block;
  padding: 5px 10px;
  margin-right: 10px;
  cursor: pointer;
  border-radius: 4px;
  background-color: #f8f9fa; /* Default background */
  color: black; /* Default text color */
}

/* Change label styles when the radio button is checked */
.form-check-input:checked + .listed-label {
  background-color: #28a745;
  color: white;
}

.form-check-input:checked + .not-listed-label {
  background-color: #dc3545;
  color: white;
}
  
/* Additional mobile form styles */
#mobileFilterMenu .form-check-label {
  display: block;
  width: 100%;
  text-align: center;
}

#mobileFilterMenu .form-control, #mobileFilterMenu .btn {
  width: 100%;
}

/* Adjust padding and margins as needed for mobile layout */

@media (max-width: 768px) {
  .navbar-text {
    display: none;
  }
  .form-control[style] {
    max-width: 100% !important;
  }
}