/* Custom styles for the modals */
.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
  }
  
.modal-dialog {
  margin: auto;
}
  
.modal-content {
  height: auto; /* Allow the content to size based on the image */
  display: flex; /* Use flexbox for centering */
  justify-content: center; /* Align items horizontally */
}
  
.modal-body {
  padding: 1rem; /* Add some padding around the image */
}

#modalImg {
  max-height: 90vh; /* Limit the image height to 90% of the viewport height */
  max-width: 100%; /* Limit the image width to 100% of its container */
  object-fit: contain; /* Make sure the image is scaled correctly */
}

.close {
  cursor: pointer;
}

.img-fluid {
  max-width: 100%;
  height: auto;
}
  
.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}
  