<!DOCTYPE html>
<html lang="en">
  {% load static %}
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Mazuma eBay</title>
  <!-- Add Bootstrap CSS -->
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
  <link rel="icon" href="{% static 'favicons/favicon.ico' %}" type="image/x-icon">

  <!-- Add Bootstrap JavaScript and jQuery -->
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  <script src="https://kit.fontawesome.com/4c5880459d.js" crossorigin="anonymous"></script>
</head>

<body>    
  <nav class="navbar navbar-light bg-light fixed-top">
    <a class="navbar-brand" href="{% url 'moodboard:index' %}">
      Mazuma eBay
    </a>
        {% if user.is_authenticated %}
          <div id="mainNav">
            <a class="nav-link" href="{% url 'moodboard:index' %}">
              <i class="fas fa-search" style="color: rgb(112, 112, 112);"></i> <span class="navbar-text"> Find Items</span>
            </a>
            <a class="nav-link" href="{% url 'moodboard:index' %}?listed_option=False">
              <i class="fas fa-times" style="color: rgb(184, 37, 37);"></i> <span class="navbar-text"> Not Listed</span>
            </a>             
            <a class="nav-link" href="{% url 'moodboard:create_moodboard' %}">
              <i class="fa fa-plus" style="color: rgb(37, 184, 37);"></i> <span class="navbar-text"> Add Item</span>
            </a>
            <a class="nav-link" href="{% url 'account_logout' %}">
              <i class="fas fa-user" style="color: rgb(184, 37, 37);"></i> <span class="navbar-text"> Logout</span>
            </a>
          </div>
          
        {% else %}
          <div id="mainNav">
            <a class="nav-link" href="{% url 'account_login' %}">
              <i class="fas fa-sign-in-alt"></i> <span class="navbar-text">Login</span>
            </a>
          </div>
        {% endif %}
      </ul>
    </div>
  </nav>


  <div class="mt-4 flex-grow-1" style="padding-top: 70px;">
    {% if messages %}
        <div class="my-4">
          {% for message in messages %}
            <div class="alert alert-dismissible {% if message.tags %}alert-{{ message.tags }}{% endif %}" role="alert">
              {{ message }}
              <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
          {% endfor %}
        </div>
    {% endif %}
    {% block content %}
    {% endblock %}
  </div>

<!-- Start of Footer -->
<footer class="bg-light text-center text-lg-start mt-auto">
  <div class="container p-4">
    <h6 class="text-uppercase mb-4">Acknowledgements</h6>
    <p class="mb-1">
      This web app was developed by the Mazuma Mobile team.
    </p>
    <ul class="list-unstyled">
      <li class="mb-1"><strong>Planning, testing and development:</strong> Harrison Brookes-Boon</li>
      <li class="mb-1"><strong>Systems support, consulting, testing:</strong> Vaughn Lewis</li>
      <li class="mb-1"><strong>Consulting, testing:</strong> Gemma Gibson</li>
      <li class="mb-1"><strong>Testing:</strong> Finlay Taylor-Howe</li>
    </ul>
  </div>
  <div class="text-center p-3 bg-secondary text-light">
    &copy; 2024 Mazuma Mobile. All rights reserved.
  </div>
</footer>
<!-- End of Footer -->


  <!-- Add Bootstrap JavaScript and jQuery -->

</body>
</html>
