{% extends "base.html" %}

{% block content %}
{% if user.is_authenticated %}
<div>
  <form class="d-flex" role="search" method="GET" action="{% url 'moodboard:index' %}">
    <a class="btn btn-success" href="{% url 'moodboard:listed_items' %}" class="tab">Listed</a>
    <a class="btn btn-danger" href="{% url 'moodboard:not_listed_items' %}" class="tab">Not Listed</a>
    <input class="form-control me-2" name="q" type="search" placeholder="Search" aria-label="Search">
    <button class="btn btn-outline-primary" type="submit">Search</button>
  </form>
</div>
<div class="container">
  <h2 class="my-4">Items</h2>
  <div class="pagination">
    <span class="step-links">
        {% if moodboards.has_previous %}
            <a href="?page=1">&laquo; first</a>
            <a href="?page={{ moodboards.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ moodboards.number }} of {{ moodboards.paginator.num_pages }}.
        </span>

        {% if moodboards.has_next %}
            <a href="?page={{ moodboards.next_page_number }}">next</a>
            <a href="?page={{ moodboards.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
    </span>
</div>
  <div class="row">
    {% for moodboard in moodboards.object_list %}
      <div class="col-md-4 col-sm-6 mb-4">
        <div class="card h-100">
          <div class="card-body">
            <h5 class="card-title">
              <a href="{% url 'moodboard:detail' moodboard.id %}">
                {{ moodboard.title }}
              </a>
            </h5>
            <div class="projcard-tagbox">
              <span class="badge bg-secondary">{{ moodboard.stock_id }}</span>
              <p>{{ moodboard.updated_at }}</p>
              {% if moodboard.listed %}
                <h5 class="bg-success">Listed on {{ moodboard.listed_at }} by {{ moodboard.listed_by }}</h5>
              {% else %}
                <h5 class="bg-danger">Not Listed</h5>
              {% endif %}
            </div>
            <div class="row">
              {% with first_image=moodboard.images.first %}
                  {% if first_image %}
                      <div class="col-12">
                          <div class="card mb-4">
                              <!-- Use 'first_image.image' to get the image URL -->
                              <img src="{{ first_image.image.url }}" loading="lazy" class="card-img-top" alt="Item image" id="image-1" aria-hidden="true">
                          </div>
                      </div>
                  {% else %}
                      <div class="col-12">
                          <p>No images for this item.</p>
                      </div>
                  {% endif %}
              {% endwith %}
          </div>
            <p class="card-text">
              Submitted by: {{ moodboard.user.username }}
            </p>
          </div> <!-- End of card-body -->
        </div> <!-- End of card -->
      </div> <!-- End of col-md-4 col-sm-6 mb-4 -->
    {% endfor %}
    <div class="pagination">
      <span class="step-links">
          {% if moodboards.has_previous %}
              <a href="?page=1">&laquo; first</a>
              <a href="?page={{ moodboards.previous_page_number }}">previous</a>
          {% endif %}
  
          <span class="current">
              Page {{ moodboards.number }} of {{ moodboards.paginator.num_pages }}.
          </span>
  
          {% if moodboards.has_next %}
              <a href="?page={{ moodboards.next_page_number }}">next</a>
              <a href="?page={{ moodboards.paginator.num_pages }}">last &raquo;</a>
          {% endif %}
      </span>
  </div>
  </div> <!-- End of outer row -->
  {% else %}
      <h2 class="my-4">You must be signed in to view this page.</h2>
  {% endif %}
</div> <!-- End of container -->
{% endblock %}
