{% extends "base.html" %}

{% block content %}
<div class="container">
  {% if user.is_authenticated %}
  <h2 class="my-4">Items</h2>
  <div class="row">
    {% for moodboard in moodboards %}
      <div class="col-md-4 col-sm-6 mb-4">
        <div class="card h-100">
          <div class="card-body">
            <h5 class="card-title">
              <a href="{% url 'moodboard:detail' moodboard.id %}">
                {{ moodboard.title }}
              </a>
            </h5>
            <div class="projcard-tagbox">
              <span class="badge bg-secondary">{{ moodboard.stock_id }}</span>
              <p>{{ moodboard.updated_at }}</p>
              {% if moodboard.listed %}
                <h5>Listed</h5>
              {% else %}
                <h5>Not Listed</h5>
              {% endif %}
            </div>
            <div class="row">
              {% with first_image=moodboard.images.first %}
                  {% if first_image %}
                      <div class="col-12">
                          <div class="card mb-4">
                              <!-- Use 'first_image.image' to get the image URL -->
                              <img src="{{ first_image.image.url }}" loading="lazy" class="card-img-top" alt="Item image" id="image-1" aria-hidden="true">
                          </div>
                      </div>
                  {% else %}
                      <div class="col-12">
                          <p>No images for this item.</p>
                      </div>
                  {% endif %}
              {% endwith %}
          </div>
            <p class="card-text">
              Submitted by: {{ moodboard.user.username }}
            </p>
          </div> <!-- End of card-body -->
        </div> <!-- End of card -->
      </div> <!-- End of col-md-4 col-sm-6 mb-4 -->
    {% endfor %}
  </div> <!-- End of outer row -->
  {% else %}
      <h2 class="my-4">You must be signed in to view this page.</h2>
  {% endif %}
</div> <!-- End of container -->
{% endblock %}
